* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: sans-serif;
}


.header{
    background-image: url(img/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 50px 0px;
    text-align:center;
    box-shadow: 0px 0px 12px #0e1018;

}
    
    

.logo-principal{
    border-radius:50%;
    width: 150px;
    border-style:  2px solid;
    box-shadow: 0px 0px 12px #0e1018;

    

}
.conteiner{
    display: flex;
    margin-top: 20px;

}
.navbar{
    width: 30%;
    background: #ffffff;
    padding: 9px;

    

}
.navbar ul li a{
    margin-bottom: 10px;
    display: block;
    background: linear-gradient(180deg, rgb(186, 191, 194) 22%, rgb(127, 125, 136) 51%, rgb(68, 68, 68) 73%);
    border-radius: 20px 0px;
    text-align: center;
    width:auto;
    padding: 20px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 10px #8d8c8c;

}

.content{
    width: 70%;
    background: rgb(124 124 124);
    padding: 25px;
    border-radius: 30px 0px 0px 0px;
    box-shadow: 0px 0px 10px #0e1018;
    color: white;
    


}

.icons  {
    display:block;
    padding: 20px;
    margin-top: 30px;
    
    
    

}
.icons img {
    width: 30px;
    margin:7px;
    
    


}
.footer{
    background: #7c7c7c;
    text-align: center;
    width: 9px 0px ;
    padding: 15px 0px;
    color: white;
    box-shadow: opx 0px 9px #7c7c7c;
}